section .welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--g-spacing-5);
    justify-content: space-between;
}
section .title{
    font-size: var(--g-text-header-5-font-size);
}
img.avatar{
    border-radius: 50%;
    max-width: 30%;
}
